@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


header {
    padding: 20px 0;
}
 
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.advertise-text {
    color: #f8df9d;
    text-align: right;
}

.header-img {
    float: right;
}

.whitebox {
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.05);
    display: block;
    overflow: hidden;
    padding: 40px 30px;
}

section {
    padding: 60px 0;
}

section h2 {
    text-transform: uppercase;
}

section h6 {
    color: #999999;
    font-size: 16;
    font-weight: 200;
  
}

section h4 {
    font-size: 16px;
}

nav {
    z-index: 1000;
    position: relative;
    padding-top: 15px;
}

.nav-bg {
    background: #f3f3f3;
}

.yellow-bg {
    color: #ffffff;
    background-color:#ff9900;
}

.sub-nav-bg {
    background: white;
}

.nopadding {
    padding: 0 !important;
}

nav li a {
    text-decoration: none;
    color:#666666;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

li a.active{
    font-weight: bold;
    color:#ff9900;
}
 
nav ul {
	position: relative;
    list-style-type: none;
}	

nav ul li {
	display:inline-block;
}

nav a:hover { 
    color:  #ff9900;
}

nav ul ul {
	display: none;
	position: absolute; 
}	

nav ul li:hover > ul {
	display:inherit;
}	

nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

.submenu {
    border-bottom: 2px solid #f3f3f3;
}

.submenu-text {
    font-size: 12px;
    color: black;
}

h2 span {
    color:#ecb512;
}

.btn-warning {
    color: #ffffff !important;  
    background-color: #ecb510;
}


.top-whitebox {
    margin-top: -100px;
    margin-bottom: 30px;
}

#whats-in-pangasinan {
    background-color: #f2f2f2;
}

#whats-in-pangasinan h2 {
    margin-bottom: 70px;
}

#whats-in-pangasinan h4 {
    margin-top: 30px;
}

#whats-in-pangasinan p {
    color: #999999;
}

#whats-in-pangasinan .btn {
    margin-top: 60px;
}

#food-images h4 {
    margin-top: 30px;
}

#food-images h6 {
    font-size: 12px;
}

